.dropdown-field {
    display: inline-block;
}

.dropdown-menu {
    overflow: auto;
    max-height: 300px;
}

.accommodation-field {
    margin-top: 20px;
}

.accommodation-box {
    display: inline-grid;
    height: 300px;
}

.accommodation-box img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.accommodation-box p {
    width: 200px;
    overflow: auto;
    max-height: 100px;
}
